.navbar-brand{
    font-size: 2em;
    font-weight: 600;
}

#menu-tab1, #menu-tab2, #menu-tab3{
    text-align: center;
    border: 0.5px solid #00004d;
    margin-bottom: 1px;
}
#menu-tab1:hover,#menu-tab2:hover,#menu-tab3:hover{
    background-color: #ccc;
}
#menu-tab1,#item-heading-1{
    background-color: #ff8080;
}
#menu-tab2{
    background-color:  #ff80aa;
}
#menu-tab3{
    background-color: #ff80d5;
}
#menu-heading h2{
    font-size: 1.5em;
    font-weight: 600;
}
.item-heading{
    text-align: center;
    margin: 20px auto 15px auto;
    padding: 10px;
}
#item-1{
    padding: 15px;
    background-color: #f0f5f5;
    position: relative;
}

